@import url('https://fonts.googleapis.com/css?family=PT+Mono')

.content
  font-family: 'PT Mono', monospace

.block

  &_display
    &_table
      display: table
    &_table-row
      display: table-row
    &_table-cell
      display: table-cell

  &_valign
    &_top
      vertical-align: top
    &_middle
      vertical-align: middle
    &_bottom
      vertical-align: bottom
    &_baseline
      vertical-align: baseline
