.dialog
  position: fixed
  padding: 20px
  border: 1px solid lightgray
  box-shadow: 0 0 8px gray
  color: black
  background-color: white

  &__button
    outline: none
    &:focus
      box-shadow: 0 0 2px deepskyblue
